@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* CTA text */
  --clr-primary-red-400: hsl(356, 100%, 66%);
  /* CTA hover background */
  --clr-primary-red-200: hsl(355, 100%, 74%);
  /* headings */
  --clr-primary-blue-500: hsl(208, 49%, 24%);

  /* text */
  --clr-neutral-white: hsl(0, 0%, 100%);
  /* footer text */
  --clr-neutral-blue-100: hsl(240, 2%, 79%);
  /* body copy */
  --clr-neutral-blue-300: hsl(207, 13%, 34%);
  /* footer bakcground */
  --clr-neutral-blue-900: hsl(240, 10%, 16%);

  /* gradient background */
  /* Intro/CTA mobile nav */
  --gradient-bg-red: linear-gradient(
    90deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --gradient-bg-blue: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  /* body */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', 'Ubuntu', sans-serif;
  line-height: 1.5;
}

button {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-red-400);
  font-family: 'ubuntu';
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  padding: 16px 18px;
  margin: 20px 5px;
}

.section {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#header {
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: var(--clr-neutral-white);
  border-bottom-left-radius: 90px;
  height: 600px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar .logo img {
  width: 80%;
  height: 80%;
}

.navbar .hamburger {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navbar .main__menu {
  display: none;
}

.main__text {
  margin: 7rem 1.5rem 1.5rem;
  line-height: 1.3;
}

#footer {
  background-color: var(--clr-neutral-blue-900);
  color: var(--clr-neutral-white);
  border-top-right-radius: 90px;
  font-family: 'ubuntu', sans-serif;
}

#footer .logo {
  margin: 40px auto;
}

.footer__menu ul {
  padding: 0;
}

.footer__menu li {
  list-style-type: none;
  margin: 10px 0;
  font-weight: 400;
}
