@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* CTA text */
  --clr-primary-red-400: hsl(356, 100%, 66%);
  /* CTA hover background */
  --clr-primary-red-200: hsl(355, 100%, 74%);
  /* headings */
  --clr-primary-blue-500: hsl(208, 49%, 24%);

  /* text */
  --clr-neutral-white: hsl(0, 0%, 100%);
  /* footer text */
  --clr-neutral-blue-100: hsl(240, 2%, 79%);
  /* body copy */
  --clr-neutral-blue-300: hsl(207, 13%, 34%);
  /* footer bakcground */
  --clr-neutral-blue-900: hsl(240, 10%, 16%);

  /* gradient background */
  /* Intro/CTA mobile nav */
  --gradient-bg-red: linear-gradient(
    90deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --gradient-bg-blue: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  /* body */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', 'Ubuntu', sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  line-height: 1.3;
  font-size: 1.6rem;
}

button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.outer__wrapper {
  background-color: hsl(0, 0%, 95%);
  z-index: -1;
}

.section {
  padding: 20px;
}

#header {
  background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  color: var(--clr-neutral-white);
  border-bottom-left-radius: 100px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#header::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.8;
  background-image: url(/images/bg-pattern-intro.svg);
  background-repeat: no-repeat;
  background-position: 40% 30%;
  background-size: 350%;
  z-index: -1;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-family: 'ubuntu', sans-serif;
}

.navbar .logo {
  width: 100px;
  object-fit: cover;
}


.navbar .hamburger {
  display: none;
}

.navbar .hamburger.mobile {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navbar .main__menu.mobile {
  display: none;
}

/* main menu */

.navbar .main__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.navbar .main__menu .dropdown {
  height: 10vh;
  display: flex;
  margin-right: auto;
  margin-left: 20px;
  align-items: center;
  position: relative;
  text-align: left;
}

.navbar .main__menu .dropdown ul {
  background-color: var(--clr-neutral-white);
  color: black;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  position: absolute;
  width: 150px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.navbar .main__menu .dropdown li {
  font-size: .8rem;
  margin: 8px auto;
  cursor: pointer;
}

.navbar .main__menu .dropdown li:hover {
  font-weight: 500;
}

.navbar .main__menu .dropdown button {
  color: var(--clr-neutral-white);
  background-color: transparent;
  margin: 0 1.5rem;
  opacity: 0.8;
 font-family: inherit;
 position: relative;

}

.navbar .main__menu .dropdown button img {
  position:absolute;
  width: 10px;
  top: 4px;
  right: -18px;
  transform: rotate(180deg);
  transition: rotate .3s ease;
}

.navbar .main__menu .login {
  display: flex;
  align-items: center;
}


.navbar .main__menu .login button {
  color: var(--clr-neutral-white);
  background-color: transparent;
  opacity: 0.8;
  font-family: inherit;
  font-weight: 400;
  margin-left: 5px;
  padding: 1em 2em;
}

.navbar .main__menu .dropdown button:hover {
  opacity: 1;
  font-weight: 500;
}

.navbar .main__menu .login button:hover {
  background-color: var(--clr-primary-red-200);
  border-radius: 50px;
  opacity: 1;
}

/* Header text */

.main__text {
  margin: 7rem 1rem 0;
  line-height: 1.3;
}

.main__text h1 {
  font-size: 33px;
}

.main__text p {
  font-size: 18px;
}

.main__btns button {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-red-400);
  font-family: 'ubuntu';
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
  padding: 16px 18px;
  margin: 20px 5px;
}

.main__btns .more__btn {
  border: 1px solid var(--clr-neutral-white);
  background-color: transparent;
  color: var(--clr-neutral-white);
}

.section__top__wrapper h1 {
  margin: 3rem 3rem 1rem;
}

.section__top__wrapper img {
  margin-top: 2rem;
}

#section__middle {
  color: var(--clr-neutral-white);
  position: relative;
}

.section__middle__text {
  background: var(--gradient-bg-blue);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 250px;
  padding-top: 180px;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.section__middle__text::before {
  content: '';
  width: 100%;
  height: 100%;
  top: -150px;
  left: 0;
  position: absolute;
  background-image: url(/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: cover 50%;
  z-index: -1;
}

.section__middle__img {
  position: absolute;
  top: -200px;
  z-index: 2;
}

.section__middle__text h1 {
  font-size: 36px;
}

.section__middle__text p {
  line-height: 2;
}

#section__bottom {
  margin-bottom: 80px;
}

.section__bottom__wrapper h1 {
  margin-top: 40px;
}

#footer {
  background-color: var(--clr-neutral-blue-900);
  color: var(--clr-neutral-white);
  border-top-right-radius: 100px;
  font-family: 'ubuntu', sans-serif;
  padding-bottom: 4rem;
}

#footer .logo img {
  width: 80px;
  margin: 4rem auto 0;
}

.footer__menu ul {
  padding: 0;
  margin: 0;
}

.footer__menu ul strong {
  display: block;
  margin: 3.5rem 0 2rem;
}

.footer__menu li {
  list-style-type: none;
  color: var(--clr-neutral-blue-100);
  margin: 10px 0;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  body {
    text-align: left;
    width: 80%;
    margin: auto;
  }

  .section {
    padding: 0 40px;
  }

  #section__top {
  }

  .section__top__wrapper h1:first-child {
    text-align: center;
  }

  #footer {
    display: flex;
  }

  .footer__wrapper .footer__menu {
    display: flex;
    margin: 10;
  }
}
